* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #171717;
}



body {
    width: 1460px;
    margin: auto;
}

.block {
    display: flex;

}


.pic_1 {
    width: 216px;
    height: 33px;
    margin-top: 46px;
    outline: 1px red;
    z-index: 1;

}


.block>a {

    margin-top: 37px;
    margin-left: auto;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    color: #E4B564;

    z-index: 1;
}

.button1>img {
    padding: 10px;
}

.title {
    padding-top: 128px;
    display: inline-block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    /* identical to box height, or 56% */


    color: #FFFFFF;

}

.text {
    padding: 40px 0px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    width: 1182px;
    color: #FFFFFF;
}

.section1 {
    width: 1460px;
    display: grid;
    align-items: stretch;
    grid-template-rows: 468px 468px;
    grid-template-columns: 468px 229px 229px 468px;
    grid-gap: 25px;

}

.section1>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.item1 {

    background: #634F2C;
    justify-items: center;
}

.item2 {
    grid-column: 2/4;
    background: #B4A385;
}

.item3 {
    background: #E4B564;
}

.item4 {
    grid-column: 1/3;
    background: #635A4A;
}

.item5 {
    grid-column: 3/5;
    background: #B08C4D;
}

.title2 {
    padding-top: 161px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    /* identical to box height, or 56% */


    color: #FFFFFF;

}

h3 {
    padding: 160px 0 94px 0;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;

}

.section2 {
    width: 1460px;
    display: grid;
    align-items: stretch;
    margin-bottom: 190px;
    grid-template-columns: 467px 467px 467px;
    grid-template-rows: 255px 33px 101px 129px 251px 4px;
    grid-gap: 25px;
    font-family: 'Gilam';

}

.section2>div{
    padding: 44px 52px ;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
}
.section2>div>span{
    font-family: Gilam;
font-size: 20px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.item2_1 {
    background: #0E0E0E;
    grid-row: 1/3;
}

.item2_2 {
    grid-column: 2;
    grid-row: 1/4;
    background: #242424;
}

.item2_3 {
    grid-column: 3;
    grid-row: 1;
    background: #1F1F1F;
}

.item2_4 {
    grid-column: 1;
    grid-row: 3/7;
    background: #1F1F1F;
}

.item2_5 {
    grid-column: 2;
    grid-row: 4/6;
    background: #E4B564;}

.item2_6 {    
    grid-column: 3;
    grid-row: 2/5;
    background: #0E0E0E;
}

.item2_7 {
    grid-column: 3;
    grid-row: 5/7;
    background: #0A0909;
}

.section3 {
    width: 1460px;
    display: grid;
    margin-bottom: 190px;
    grid-template-columns: repeat(3,487px);
    grid-template-rows: repeat(2,391px);
    font-family: 'Gilam';
    position: relative; 

    
}

.section3>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3>div>img{
   background-color: transparent;
}

.item3_1 {
    background: #634F2C;
}
.item3_2 {
   flex-direction: column;

background: rgba(232, 210, 171, 0.76);
}

.item3_2>p{
    width: 326px;
    font-family: 'Gilam';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
/* or 127% */

text-align: center;

color: #FFFFFF;
background-color: transparent;
}
.item3_2>p>span{
    font-weight: 600;
    background-color: transparent;
}

.item3_3 {
    background: #E4B564;
}
.item3_4 {
    background: #635A4A;
}
.item3_5 {
    background: #B08C4D;
}
.item3_6 {
    background: #634F2C;
}